 <div class="button-row">
 	<button mat-stroked-button (click)="delete()">Delete</button>
 </div>
 <mat-card (click)="click(item)">
 <mat-card-title>{{reminder.reminderName}}</mat-card-title>
 <mat-card-content>{{reminder.reminderDescription}}</mat-card-content>
 <mat-card-content>{{reminder.reminderType}}</mat-card-content>
 </mat-card>
 



