 <div class="button-row">
 	<button mat-stroked-button (click)="delete()">Delete</button>
 </div>
 <mat-card (click)="click(item)">
 <mat-card-title>{{category.categoryName}}</mat-card-title>
 <mat-card-content>{{category.categoryDescription}}</mat-card-content>
 </mat-card>
 



