<app-category-taker></app-category-taker>
<div class="keep-c-category-container">
  
	<!-- Include the notes collection with each note rendered as a separate NoteComponent -->
<!-- Load and display the collection of notes from server as Material Cards with card title set to note title and card content set to note text  -->
  <app-category *ngFor="let category of categories"
      [category]="category">
    </app-category>
</div>
