<!-- Label to display any error messages -->
<label class="error-message">{{ errMessage }}</label>

<!-- Expansion panel to add new notes -->

<!-- To add notes -->



<h3>Note Details </h3>

  <mat-expansion-panel> 
  
<mat-expansion-panel-header>
	
	<mat-panel-title>Take a note</mat-panel-title>
</mat-expansion-panel-header> 

<div class = "note-form">
 
<mat-form-field >
     	<input matInput  class="note-full-width form-control" name = "title" placeholder="title" [(ngModel)]="noteTitle" #titleModel="ngModel" required >
     	
     	</mat-form-field>
     	
<mat-form-field >
     	<textarea matInput  class="note-full-width form-control"  name = "text" placeholder="text" [(ngModel)]="noteContent" #textModel="ngModel" required></textarea>
     
     	</mat-form-field>
  
<mat-form-field>
    <mat-select
      name="category"
      placeholder="Select Category"
     #categoryModel="ngModel" [(ngModel)]="editCategory" 
    >
      <mat-option *ngFor="let category of categories" [value]="category">
        {{ category.categoryName }}
      </mat-option>
    </mat-select>
</mat-form-field>


<mat-form-field>
    <mat-select 
      name="reminder"
      placeholder="Select Reminder"
     #reminderModel="ngModel" [(ngModel)]="editReminder" multiple
    >
      <mat-option *ngFor="let reminder of reminders" [value]="reminder">
        {{ reminder.reminderName }}
      </mat-option>
    </mat-select>
</mat-form-field>
     	
 <button type = "submit" mat-button (click)="addNotes()" >Done</button>

</div>

   
 </mat-expansion-panel>