<div class="row marginTop">
    <label class="error-message">{{ errMessage }}</label>
    <div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-4 col-xl-6 offset-xl-4">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Log in</mat-card-title>
            </mat-card-header>
           <mat-card-content>
            <form novalidate [formGroup]="signInForm" (ngSubmit) = "onSubmit()">
                <mat-form-field class="full-width-input">
                    <input 
                        id="userId"
                        matInput
                        formControlName="userId"
                        placeholder="userId"
                        value="jd@stackroute.in"
                        required>
                    <mat-error *ngIf = "signInForm.get('userId').hasError('required')">
                        UserId name is requied
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input 
                        id="userPassword"
                        type = "password"
                        matInput
                        placeholder="Password"
                        formControlName="userPassword"
                        value="jdssecret@1234"
                        [type] = "hide ? 'password' : 'text' "
                        required>
                    <mat-icon
                        matSuffix (click)="hide = !hide">
                        {{ hide ? 'visibility_off' :'visibility' }}
                    </mat-icon>
                    <mat-error *ngIf = "signInForm.get('userPassword').hasError('required')">
                        Password is requied
                    </mat-error>
                </mat-form-field>
                <div class="button-panel">
                    <button 
                        type='submit' 
                        mat-raised-button 
                        color="primary" 
                        [disabled] ="!signInForm.valid">SIGNIN</button>
                </div>
                
            </form>
        </mat-card-content>
            <mat-card-actions>
            <div align="center">
                <a
                id="new-user-signup" 
                mat-button 
                color="primary" 
                [routerLink] = "['/registration']">New user signup</a>
            </div>
        </mat-card-actions>
        </mat-card>
    </div>
</div>