.frm-container {
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

mat-card {
	max-width: 400px;
	margin: 2em auto;
}

.full-width-input {
	width: 100%;
}

mat-card-header{
	justify-content: center;
}

.button-panel{
	text-align: right;
}

h3{
	padding-left: 20px;
}