<app-reminder-taker></app-reminder-taker>
<div class="keep-c-reminder-container">
  
	<!-- Include the notes collection with each note rendered as a separate NoteComponent -->
<!-- Load and display the collection of notes from server as Material Cards with card title set to note title and card content set to note text  -->
  <app-reminder *ngFor="let reminder of reminders"
      [reminder]="reminder">
    </app-reminder>
</div>


