<app-header ></app-header>
<div class="row marginTop">
    <div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-4 col-xl-6 offset-xl-4">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>View Selector</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                
                <form  #viewForm="ngForm" [formGroup]= "viewSelect"(ngSubmit)="viewSubmit(viewForm)">
                   
                      <mat-form-field>
                      <mat-select placeholder = "Select Views" formControlName="viewSelect"
                       [(ngModel)] = "selectedView">
                          <mat-option *ngFor="let view of views" [value] = "view.name">
                          {{view.name}}
                          </mat-option >
                      </mat-select>
                      </mat-form-field>
                   

                    <button mat-raised-button color="primary" type="submit">Submit</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
