 <div class="button-row">
 	<button mat-stroked-button (click)="delete()">Delete</button>
 </div>
 <mat-card (click)="click(item)">
 <mat-card-title>{{note.noteTitle}}</mat-card-title>
 <mat-card-content>{{note.noteContent}}</mat-card-content>
 </mat-card>
 



